<!-- Header -->
<style>
  header {
      background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)) , url(/assets/img/joshua-sortino-71vAb1FXB6g-unsplash.jpg) center center;
      background-size: cover;
      color: black;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
</style>

<header>
  <div class="container">
    <div class="jumbotron bg-transparent">
      <div class="display-4 text-center">Supply Chain Sandbox<br></div>
      <div class="lead text-center">An interactive, hands on environment to illustrate supply chain issues, as well as concepts and approaches to effectively manage them.</div>
      <div class="row justify-content-center">
      <a href="#about" class="btn btn-circle page-scroll">
        <i class="fas fa-angle-double-down fa-5x"></i>
      </a>
      </div>
    </div>
  </div>
</header>
