<style>
  body {
    position: absolute;
    margin: 0;
    min-height: 100%;
    width: 100%;
  }

  footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
</style>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="copyright">© {{ 'now' | date: "%Y" }} <a href="https://supplychainsandbox.org">Supply Chain Sandbox</a> by <a href="https://beauwoods.com">Beau Woods</a>, et. al.</span>
        <p>Photo by <a href-"https://unsplash.com/@sortino?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joshua Sortino</a> on <a
            href="https://unsplash.com/s/photos/san-francisco?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
      </div>
      <div class="col-md-6">
        <ul class="list-inline social-buttons">
          {% for network in site.social %}
          <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
