<!-- Games Section -->
<section id="games" class="bg-light-gray">
  <div class="container p-4">
    <div class="row">

      <div class="col-lg-12 text-center">
        <h2 class="section-heading">We have games!</h2>
      </div>
      <div>
        <p>The Supply Chain Sandbox has developed board and video games to teach supply chain principles, and so have others.</p>
        <ul>
          <li><a href="https://github.com/SupplyChainSandbox/supplychaingame">Supply Chain Jenga</a> - The tower game you love and fear, with new gameplay and rules!</li>
          <li><a href="http://supplychainsprint.com/">Supply Chain Sprint</a> - A classic 8-bit game, updated to reflect the relay race that is modern supply chains.</li>
        </ul>
        <p><b>Beer Games</b> - Several different interpretations of the classic MIT supply chain game.</p>
        <ul>
          <li><a href="https://beergameapp.com/">The Beergame App</a></li>
          <li><a href="https://www.supplychain-academy.net/beer-game/">Supply Chain Academy</a></li>
          <li><a href="https://beergameapp.com/">A.T. Kearney (iPhone)</a></li>
          <li><a href="https://beergame.opexanalytics.com/#/">Opex Analytics</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
