<!-- Header -->
<style>
  header {
      background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)) , url(/assets/2020-usa/img/joshua-sortino-71vAb1FXB6g-unsplash.jpg) center center;
      background-size: cover;
      color: black;
      min-height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
</style>

<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">RSA Conference 2020<br></div>
      <div class="intro-heading">San Francisco, USA<br></div>
      <div class="intro-lead-in">February 24-28</div>
      <a href="#about" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down fa-5x"></i>
      </a>
    </div>
  </div>
</header>
