<!-- Partners Section -->
<section id="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Partners</h2>
      </div>
      <p>We want to thank our generous partners for supporting us with their creativity, time, and experience.</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <img src="/assets/2020-usa/img/iatc.png" class="img-responsive img-centered" alt="">
      </div>
      <div class="col-md-4 col-sm-6">
        <img src="/assets/2020-usa/img/dhs.png" class="img-responsive img-centered" alt="">
      </div>
      <div class="col-md-4 col-sm-6">
        <img src="/assets/2020-usa/img/foxguard.png" class="img-responsive img-centered" alt="">
      </div>
    </div>
  </div>
  </aside>
