<!-- About Section -->
<section id="about">

  <div class="container p-4">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Talk: Taking Control of Cyber Supply Chain Security</h2>
    </div>
    <p>Allan Friedman and Beau Woods will be giving a talk at the RSA Conference 2020 APJ on <strong>Friday, July 15, 09:00 - 10:00 Singapore Time</strong>.</p>
    <p>Software has eaten the world and its supply chain gives us heartburn. This presentation will outline a framework for understanding supply chain risks and provides concrete recommendations for policy makers and company executives based on
      real-world examples, and give an overview of the emerging best practice around “Software Bill of Materials.”</p>
  </div>
</section>

<div class="container p-4">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading">Capture the Flag: Supply Chains</h2>
  </div>
  <p>The Supply Chain Sandbox will hold a Capture the Flag at the RSA Conference 2020 APJ on <strong>Friday, July 15, 10:00 - 12:00 Singapore Time</strong>.</p>
  <p>Software supply chains drive value across every facet of your organization, yet strategies to secure them against disruption have hardly kept pace with need. In this CTF, players race against adversaries to find strategies that balance
    efficiency and resilience to beat their competitors by practicing new cyber supply chain approaches. Individuals or teams represent a simulated organization with a large installed software base. In each challenge, players receive information
    about a “newly discovered vulnerability” at varying depths within their software stack. Organizations get ahead by balancing security with performance through adopting supply chain strategies. Can you outcompete the others and secure your cyber
    supply chain?</p>
</div>
</section>
